.Button {
    -fx-background-color: #395993;
    -fx-text-fill: white;
    -fx-font: Arial, Helvetica, sans-serif;

}

.Clearbutton {
    -fx-background-color: #394C6E;
    -fx-font: Arial, Helvetica, sans-serif;
}

.opertionButton {
    -fx-background-color: #4067B0;
    -fx-font: Arial, Helvetica, sans-serif;
}

.textfield {
    -fx-background-color: #F2EEE7;
    -fx-font: Arial, Helvetica, sans-serif;
}

.background {
    -fx-background-color: #39526E;
}